TINYBRACE_HOME=/usr/local/tinybrace

POSTGRES_HOME=/home/jenkins/postgres/postgresql-16.0/install
PGSPIDER_HOME=/home/jenkins/test/PGSpider/pgbuild
GRIDDB_CLIENT=/home/jenkins/src/griddb
GRIDDB_HOME=/home/jenkins/src//griddb-5.1.0
container_name='minio_server'
minio_image='minio/minio:RELEASE.2023-09-23T03-47-50Z'

MYSQL_PWD="Mysql_1234"
MYSQL_HOST="localhost"
MYSQL_PORT="3306"
MYSQL_USER_NAME="root"
griddb_image='griddb/griddb:5.0.0-centos7'

GRIDDB_LIB=${GRIDDB_CLIENT}/bin
MYSQL_LIB=/usr/lib64/mysql
TINYBRACE_LIB=/usr/local/tinybrace/lib
ORACLE_LIB=/opt/oracle/product/21c/dbhomeXE/lib
LOCAL_LIB=/usr/local/lib
LOCAL_LIB64=/usr/local/lib64

CURR_PATH=$(pwd)
