TINYBRACE_HOME=/usr/local/tinybrace

POSTGRES_HOME=/home/vagrant/workplace/postgresql-16.0/install
PGSPIDER_HOME=/home/vagrant/workplace/PGSpider/install
GRIDDB_CLIENT=/home/vagrant/workplace/GridDB/griddb
container_name='minio_server'
minio_image='minio/minio:RELEASE.2021-04-22T15-44-28Z.hotfix.56647434e'

MYSQL_PWD="Mysql_1234"
MYSQL_HOST="localhost"
MYSQL_PORT="3306"
MYSQL_USER_NAME="root"
GRIDDB_IMAGE='griddb/griddb:5.3.1-centos7'

DYNAMODB_HOME=/home/vagrant/dynamodblocal_1_25
GRIDDB_LIB=${GRIDDB_CLIENT}/bin
MYSQL_LIB=/usr/lib64/mysql
TINYBRACE_LIB=/usr/local/tinybrace/lib
ORACLE_LIB=/opt/oracle/product/21c/dbhomeXE/lib
LOCAL_LIB=/usr/local/lib
LOCAL_LIB64=/usr/local/lib64

CURR_PATH=$(pwd)
